<section class="team-section black-block" id="team" data-order="6">

  <div class="team-container">
    <div class="container">
      <div class="row"
           data-animate="true"
           data-animate-transform="true">
        <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <div class="section-header">
            Team
          </div>
          <p class="section-sub-header">
            Meet the visionaries working behind the scenes of Rentberry platform.
          </p>
        </div>
        <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1">
          <div class="number-container">
            <span class="number">
              23
            </span>
            <span class="text">
               Dedicated People
            </span>
          </div>
        </div>
        <div class="col-md-2 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <div class="number-container">
            <span class="number">
              150
            </span>
            <span class="text">
               Years of combined experience
            </span>
          </div>
        </div>
        <div class="col-md-2 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <div class="number-container">
            <span class="number">
              20
            </span>
            <span class="text">
              Years of combined blockchain experience
            </span>
          </div>
        </div>
      </div>

      <div class="big-team">
        <div class="row between-md"
             data-animate="true"
             data-animate-transform="true">

          <div class="col-md-3">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-md-12 col-md-offset-0">
                <div class="image">
                  <img async src="/images/team/alex-lubinsky.jpg" srcset="/images/team/alex-lubinsky@2x.jpg 2x"
                       alt="Alex Lubinsky">
                </div>
              </div>

              <div class="name col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Alex Lubinsky
                <a target="_blank" href="https://www.linkedin.com/in/lubinsky/" class="linkedin-icon"></a>
              </div>
              <div class="position col-xs-10 col-xs-offset-1 col-md col-md-offset-0">
                СEO <br/>
                UC Berkeley
              </div>
              <div class="description col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Former investment banking executive who founded and sold several companies. Real estate owner and
                successful entrepreneur responsible for defining Rentberry’s vision.
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-md-12 col-md-offset-0">
                <div class="image">
                  <img src="/images/team/lily-ostapchuk.jpg" srcset="/images/team/lily-ostapchuk@2x.jpg 2x"
                       alt="Lily Ostapchuk">
                </div>
              </div>

              <div class="name col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Lily Ostapchuk
                <a target="_blank" href="https://www.linkedin.com/in/lostapchuk/" class="linkedin-icon"></a>
              </div>
              <div class="position col-xs-10 col-xs-offset-1 col-md col-md-offset-0">
                CPO <br/>
                Columbia University
              </div>
              <div class="description col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Managed and operated a number of rental properties across the US and Europe. Product launch and marketing
                expert with deep knowledge of how to position and scale the product.
              </div>
            </div>

          </div>

          <div class="col-md-3">

            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-md-12 col-md-offset-0">
                <div class="image">
                  <img src="/images/team/Aleksey.jpg" srcset="/images/team/Aleksey@2x.jpg 2x" alt="Aleksey Perfilov">
                </div>
              </div>

              <div class="name col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Aleksey Perfilov
                <a target="_blank" href="https://www.linkedin.com/in/aperfilov/" class="linkedin-icon"></a>
              </div>
              <div class="position col-xs-10 col-xs-offset-1 col-md col-md-offset-0">
                CTO <br/>
                Stanford University
              </div>
              <div class="description col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Worked at a number of prominent IT companies, including Hi5, Altera, Phoenix Technologies, and Amazon.
                Full stack engineer, blockchain evangelist, and focus-driven coder with 15 years of experience.
              </div>
            </div>

          </div>
        </div>
      </div><!--big-team-->
    </div>

    <div class="all-team-wrapper closed"
         data-animate="true"
         data-animate-transform="true">
      <div class="all-team" id="allTeam">
        <div class="container">
          <div class="row between-md">

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/denis.jpg" srcset="/images/team/denis@2x.jpg 2x" alt="Denis Golubovsky">
              </div>
              <div class="name">
                Denis Golubovsky
              </div>
              <div class="position">
                Blockchain Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Eugene.jpg" srcset="/images/team/Eugene@2x.jpg 2x" alt="Eugene Terentev">
              </div>
              <div class="name">
                Eugene Terentev
              </div>
              <div class="position">
                Blockchain Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Kolyada.jpg" srcset="/images/team/Kolyada@2x.jpg 2x" alt="Alex Kolyada">
              </div>
              <div class="name">
                Alex Kolyada
              </div>
              <div class="position">
                Blockchain Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Sviatozhevsky.jpg" srcset="/images/team/Sviatozhevsky@2x.jpg 2x"
                     alt="David Sviatozhevsky">
              </div>
              <div class="name">
                David Sviatozhevsky
              </div>
              <div class="position">
                Backend Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Kurasov.jpg" srcset="/images/team/Kurasov@2x.jpg 2x" alt="Eugeniy Kurasov">
              </div>
              <div class="name">
                Eugeniy Kurasov
              </div>
              <div class="position">
                Backend Developer
              </div>
            </div>
          </div>

          <div class="row between-md">
            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Svityashchuk.jpg" srcset="/images/team/Svityashchuk@2x.jpg 2x"
                     alt="Alex Svityashchuk">
              </div>
              <div class="name">
                Alex Svityashchuk
              </div>
              <div class="position">
                Backend Developer
              </div>
            </div>


            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/nadia.jpg" srcset="/images/team/nadia@2x.jpg 2x" alt="Nadia Sidko">
              </div>
              <div class="name">
                Nadia Sidko
              </div>
              <div class="position">
                Front-end Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/alexander.jpg" srcset="/images/team/alexander@2x.jpg 2x" alt="Alexander Vilko">
              </div>
              <div class="name">
                Alexander Vilko
              </div>
              <div class="position">
                Front-end Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/anton.jpg" srcset="/images/team/anton@2x.jpg 2x" alt="Anton Kazanov">
              </div>
              <div class="name">
                Anton Kazanov
              </div>
              <div class="position">
                Front-end Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Kostyantin.jpg" srcset="/images/team/Kostyantin@2x.jpg 2x"
                     alt="Kostyantin Horozhanov">
              </div>
              <div class="name">
                Kostyantin Horozhanov
              </div>
              <div class="position">
                Front-end Developer
              </div>
            </div>
          </div>

          <div class="row between-md">
            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/Mykhailyshen.jpg"
                     data-srcset="/images/team/Mykhailyshen@2x.jpg 2x"
                     alt="Denys Mykhailyshen">
              </div>
              <div class="name">
                Denys Mykhailyshen
              </div>
              <div class="position">
                Front-end Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/maks.jpg"
                     data-srcset="/images/team/maks@2x.jpg 2x"
                     alt="Max Zabarylo">
              </div>
              <div class="name">
                Max Zabarylo
              </div>
              <div class="position">
                QA Engineer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/July.jpg"
                     data-srcset="/images/team/July@2x.jpg 2x"
                     alt="July Yakimova">
              </div>
              <div class="name">
                July Yakimova
              </div>
              <div class="position">
                QA Engineer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/AlekseiHumeniuk.jpg"
                     data-srcset="/images/team/AlekseiHumeniuk@2x.jpg 2x"
                     alt=" Alex Humeniuk">
              </div>
              <div class="name">
                Alex Humeniuk
              </div>
              <div class="position">
                SEO Engineer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/alex.jpg"
                     data-srcset="/images/team/alex@2x.jpg 2x"
                     alt="Alex Kotovskov">
              </div>
              <div class="name">
                Alex Kotovskov
              </div>
              <div class="position">
                Product Designer
              </div>
            </div>
          </div>

          <div class="row between-md">
            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/liza.jpg"
                     data-srcset="/images/team/liza@2x.jpg 2x"
                     alt="Liza Repko">
              </div>
              <div class="name">
                Liza Repko
              </div>
              <div class="position">
                Visual Designer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/Serge.jpg"
                     data-srcset="/images/team/Serge@2x.jpg 2x"
                     alt="Serge Sokolov">
              </div>
              <div class="name">
                Serge Sokolov
              </div>
              <div class="position">
                Marketing Director
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/Alyona.jpg"
                     data-srcset="/images/team/Alyona@2x.jpg 2x"
                     alt="Alyona Blakytna">
              </div>
              <div class="name">
                Alyona Blakytna
              </div>
              <div class="position">
                Business Development
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/ksusha.jpg"
                     data-srcset="/images/team/ksusha@2x.jpg 2x"
                     alt="Ksusha Tunikova">
              </div>
              <div class="name">
                Ksusha Tunikova
              </div>
              <div class="position">
                Content Manager
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/Kate.jpg"
                     data-srcset="/images/team/Kate@2x.jpg 2x"
                     alt="Kate Fisenko">
              </div>
              <div class="name">
                Kate Fisenko
              </div>
              <div class="position">
                Sales
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="container">
        <div class="all-team-action">
          <span class="show-all-team show-all" id="showAllTeam">Show all Rentberry Team</span>
        </div>
      </div>
      <img class="all-team-photo" src="/images/team/all-team.jpg" srcset="/images/team/all-team@2x.jpg 2x" alt="All Team">
    </div>
  </div>
  <!--between-md-->
  <div class="investors-container">
    <div class="container">
      <div class="investors-header-wrapper">
        <div class="row"
             data-animate="true"
             data-animate-transform="true">
          <div class="col-md-6 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <div class="section-header">
              Investors
            </div>
            <p class="section-sub-header">
              Our investors are coming from 11 different countries and 19 US states. We’re proud of the fact that so
              many prominent figures from the real estate, legal and finance sectors shared our vision of the future of
              rental industry and entrusted Rentberry with $4 million that are now fueling our growth.
            </p>
          </div>

        </div>

        <div class="row investors-countries-wrapper"
             data-animate="true"
             data-animate-transform="true">
          <div class="col-md-3 col-xs-10 col-xs-offset-1 col-md-offset-0 founds-raised">
            <div class="counter-img">
            </div>
            <div class="numbers-block">
              <div class="founds-raised-value">$4M</div>
              <div class="founds-raised-label">Funds Raised</div>
            </div>
          </div>

          <div class="col-md-2 col-xs-4 col-xs-offset-1 investors-countries">
            <ul class="investors-countries-list">
              <li class="investors-countries-list-item">USA</li>
              <li class="investors-countries-list-item">China</li>
              <li class="investors-countries-list-item">Canada</li>
              <li class="investors-countries-list-item">Poland</li>
            </ul>
          </div>

          <div class="col-md-2 col-xs-5 col-xs-offset-1 col-md-offset-0 investors-countries">
            <ul class="investors-countries-list">
              <li class="investors-countries-list-item">UK</li>
              <li class="investors-countries-list-item">Germany</li>
              <li class="investors-countries-list-item">Switzerland</li>
              <li class="investors-countries-list-item">France</li>
            </ul>
          </div>

          <div class="col-md-2 col-xs-12 investors-countries">
            <ul class="investors-countries-list row">
              <li class="investors-countries-list-item col-xs-4 col-xs-offset-1 col-md-12 col-md-offset-0">Qatar</li>
              <li class="investors-countries-list-item col-xs-5 col-xs-offset-1 col-md-12 col-md-offset-0">New Zealand</li>
              <li class="investors-countries-list-item col-xs-4 col-xs-offset-1 col-md-12 col-md-offset-0">Australia</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="all-investors closed" id="allInvestors"
         data-animate="true"
         data-animate-transform="true">
      <div class="all-investors-list" id="allInvestorsList">
        <div class="container">
          <div class="row between-xs">

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/investors/JadeValue.jpg" srcset="/images/investors/JadeValue@2x.jpg 2x"
                     alt="JadeValue (CashBUS)">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">JadeValue (CashBUS)</div>
                <div class="investor-position">VC Fund - China</div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/investors/808.jpg" srcset="/images/investors/808@2x.jpg 2x" alt="808 Ventures">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">808 Ventures</div>
                <div class="investor-position">VC Fund - Australia</div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/investors/Zing.jpg" srcset="/images/investors/Zing@2x.jpg 2x" alt="Zing Capital">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Zing Capital</div>
                <div class="investor-position">VC Fund - Canada</div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/investors/Beechwood.jpg" srcset="/images/investors/Beechwood@2x.jpg 2x"
                     alt="Beechwood Ventures">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Beechwood Ventures</div>
                <div class="investor-position">
                  VC Fund - USA
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/investors/BrianNelson.jpg" srcset="/images/investors/BrianNelson@2x.jpg 2x"
                     alt="Brian Nelson">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Brian Nelson</div>
                <div class="investor-position">
                  Co-President <br/>
                  Nelson Brothers Property <br/>
                  Management
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/investors/PatrickFrost.jpg" srcset="/images/investors/PatrickFrost@2x.jpg 2x"
                     alt="Patrick Frost">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Patrick Frost</div>
                <div class="investor-position">
                  CEO <br/>
                  The Swiss Life Group
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/investors/TrevorBond.jpg" srcset="/images/investors/TrevorBond@2x.jpg 2x"
                     alt="Trevor Bond">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Trevor Bond</div>
                <div class="investor-position">
                  Co-chair <br/>
                  HBS Alumni Angels
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/investors/PaoloZapparoli.jpg" srcset="/images/investors/PaoloZapparoli@2x.jpg 2x"
                     alt="Paolo Zapparoli">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Paolo Zapparoli</div>
                <div class="investor-position">
                  President <br/>
                  92 Ventures
                </div>
              </div>
            </div>


            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/investors/MatthewRussell.jpg" srcset="/images/investors/MatthewRussell@2x.jpg 2x"
                     alt="Matthew Russell">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Matthew Russell</div>
                <div class="investor-position">
                  Executive Director <br/>
                  Braas Monier Building Group
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/investors/GregoryLee.jpg" srcset="/images/investors/GregoryLee@2x.jpg 2x"
                     alt="Gregory Lee">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Gregory Lee</div>
                <div class="investor-position">
                  President <br/>
                  Nokia Technologies
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/investors/MarieEbersbacher.jpg"
                     data-srcset="/images/investors/MarieEbersbacher@2x.jpg 2x"
                     alt="Marie Ebersbacher">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Marie Ebersbacher</div>
                <div class="investor-position">
                  Managing Director <br/>
                  CBIZ
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/investors/BeatNeukom.jpg"
                     data-srcset="/images/investors/BeatNeukom@2x.jpg 2x"
                     alt="Beat Neukom">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Beat Neukom</div>
                <div class="investor-position">
                  Chief Financial Officer <br/>
                  Merz Group
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/investors/RyanSullivan.jpg"
                     data-srcset="/images/investors/RyanSullivan@2x.jpg 2x"
                     alt="Ryan Sullivan">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Ryan Sullivan</div>
                <div class="investor-position">
                  CEO <br/>
                  Intensity
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/investors/KevinPshebniski.jpg"
                     data-srcset="/images/investors/KevinPshebniski@2x.jpg 2x"
                     alt="Kevin Pshebniski">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Kevin Pshebniski</div>
                <div class="investor-position">
                  CEO <br/>
                  Hopewell Development
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/investors/LeeLeslie.jpg"
                     data-srcset="/images/investors/LeeLeslie@2x.jpg 2x"
                     alt="Lee Leslie">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Lee Leslie</div>
                <div class="investor-position">
                  Executive VP <br/>
                  Ten-X Real Estate
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/investors/LeslieBai.jpg"
                     data-srcset="/images/investors/LeslieBai@2x.jpg 2x"
                     alt="Leslie Bai">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Leslie Bai</div>
                <div class="investor-position">
                  President <br/>
                  Siemic Corporation
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/investors/MiloradAndjelic.jpg"
                     data-srcset="/images/investors/MiloradAndjelic@2x.jpg 2x"
                     alt="Milorad Andjelic">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Milorad Andjelic</div>
                <div class="investor-position">
                  Partner <br/>
                  Abris Capital
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/investors/AaronJames.jpg"
                     data-srcset="/images/investors/AaronJames@2x.jpg 2x"
                     alt="Aaron James Deer">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Aaron James Deer</div>
                <div class="investor-position">
                  Managing Director <br/>
                  Sandler O'Neill + Partners
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/investors/CarolynTaylor.jpg"
                     data-srcset="/images/investors/CarolynTaylor@2x.jpg 2x"
                     alt="Carolyn Taylor">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Carolyn Taylor</div>
                <div class="investor-position">
                  President <br/>
                  Weatherly Asset
                  Management
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/investors/MatthewCottis.jpg"
                     data-srcset="/images/investors/MatthewCottis@2x.jpg 2x"
                     alt="Matthew Cottis">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Matthew Cottis</div>
                <div class="investor-position">
                  Partner <br/>
                  Hogan Lovells LLP
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="col-md-12 col-xs-10 col-xs-offset-1 col-md-0 all-investors-action">
          <span class="show-all-investors show-all" id="showAllInvestors">Show all Rentberry Investors</span>
        </div>
      </div>
    </div>
  </div>

  <div class="advisors-container">
    <div class="container">
      <div class="row"
           data-animate="true"
           data-animate-transform="true">
        <div class="col-md-12 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <div class="section-header">
            Advisors
          </div>
          <p class="section-sub-header">
            Our team has the best advisors in the real estate, legal and finance <br class="desktop-only"> industries. And we’re proud to
            tell that <b>all of them have actually <br class="desktop-only"> invested in Rentberry themselves.</b>
          </p>
        </div>
      </div>
    </div>
    <div class="all-investors closed" id="allAdvisors"
         data-animate="true"
         data-animate-transform="true">
      <div class="all-investors-list" id="allAdvisorsList">
        <div class="container">
          <div class="row between-xs">

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/advisors/GlenReed.jpg" srcset="/images/advisors/GlenReed@2x.jpg 2x" alt="">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Glen Reed</div>
                <div class="investor-position">
                  Partner <br/>
                  King & Spalding
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/advisors/AndrewBarlow.jpg" srcset="/images/advisors/AndrewBarlow@2x.jpg 2x" alt="">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Andrew Barlow</div>
                <div class="investor-position">
                  Managing Director <br/>
                  Venturian
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/advisors/BijalShah.jpg" srcset="/images/advisors/BijalShah@2x.jpg 2x" alt="">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Bijal Shah</div>
                <div class="investor-position">
                  Principal <br/>
                  WP Global Partners
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/advisors/MaxTappeiner.jpg" srcset="/images/advisors/MaxTappeiner@2x.jpg 2x" alt="">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Max Tappeiner</div>
                <div class="investor-position">
                  VP of Operations <br/>
                  Las Vegas Sands Corp.
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/advisors/MichaelFernandez.jpg" srcset="/images/advisors/MichaelFernandez@2x.jpg 2x"
                     alt="">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Michael Fernandez</div>
                <div class="investor-position">
                  CEO <br/>
                  Factory 360
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/advisors/MaulikBhagat.jpg" srcset="/images/advisors/MaulikBhagat@2x.jpg 2x"
                     alt="Maulik Bhagat">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Maulik Bhagat</div>
                <div class="investor-position">
                  Managing Director <br/>
                  AArete Consulting
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/advisors/MichaelKoran.jpg" srcset="/images/advisors/MichaelKoran@2x.jpg 2x"
                     alt="Michael Koran">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Michael Koran</div>
                <div class="investor-position">
                  Founder <br/>
                  Primary Residential <br/>
                  Mortgage
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/advisors/TrevorRichards.jpg" srcset="/images/advisors/TrevorRichards@2x.jpg 2x"
                     alt="Trevor Richards">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Trevor Richards</div>
                <div class="investor-position">
                  CTO <br/>
                  Lightwell Corporation
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/advisors/RajNair.jpg" srcset="/images/advisors/RajNair@2x.jpg 2x" alt="Raj Nair">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Raj Nair</div>
                <div class="investor-position">
                  VP of Technology <br/>
                  Ericsson
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img src="/images/advisors/AyeshaRahman.jpg" srcset="/images/advisors/AyeshaRahman@2x.jpg 2x"
                     alt="Ayesha Rahman">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Ayesha Rahman</div>
                <div class="investor-position">
                  Senior VP <br/>
                  Savantage Solutions
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/advisors/DerekSchueren.jpg"
                     data-srcset="/images/advisors/DerekSchueren@2x.jpg 2x"
                     alt="Derek Schueren">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Derek Schueren</div>
                <div class="investor-position">
                  Managing Director <br/>
                  Recommind
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/advisors/MarcoRossi.jpg"
                     data-srcset="/images/advisors/MarcoRossi@2x.jpg 2x"
                     alt="Marco Rossi">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Marco Rossi</div>
                <div class="investor-position">
                  VP Sales & Marketing <br/>
                  Siemens
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/advisors/EdwardLevin.jpg"
                     data-srcset="/images/advisors/EdwardLevin@2x.jpg 2x"
                     alt="Edward Levin">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Edward Levin</div>
                <div class="investor-position">
                  Partner <br/>
                  Pegasus Capital
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/advisors/WilliamRobinson.jpg"
                     data-srcset="/images/advisors/WilliamRobinson@2x.jpg 2x"
                     alt="William Robinson">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">William Robinson</div>
                <div class="investor-position">
                  Head of Patent Team <br/>
                  Lookout
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 all-investors-list-item">
              <div class="investor-img-wrapper">
                <img data-src="/images/advisors/TimTemple.jpg"
                     data-srcset="/images/advisors/TimTemple@2x.jpg 2x"
                     alt="Tim Temple">
              </div>
              <div class="investor-content-wrapper">
                <div class="investor-name">Tim Temple</div>
                <div class="investor-position">
                  COO <br/>
                  Sarasin & Partners
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="col-md-12 col-xs-10 col-xs-offset-1 col-md-offset-0 all-investors-action">
          <span class="show-all-investors show-all" id="showAllAdvisors">Show all Rentberry Advisors</span>
        </div>
      </div>
    </div>
  </div>

  <div class="partners-container">
    <div class="container">
      <div class="row"
           data-animate="true"
           data-animate-transform="true">
        <div class="col-md-12 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <div class="section-header">@partners.title</div>
          <p class="section-sub-header">@partners.description</p>
        </div>
      </div>
    </div>

    <div class="all-partners">
      <div class="container">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="partners-list"
                 data-animate="true"
                 data-animate-transform="true">

              @for (var i = 0; i < partners.items.length; i++) {
                <div class="partners-list-item">
                  <div class="partner-logo">
                    <img src="`+partners.items[i].src+`" srcset="`+partners.items[i].srcset+`" alt="">
                  </div>
                  <div class="partner-info">
                    <div class="partner-info-name">`+partners.items[i].name+`</div>
                    <div class="partner-info-description">`+partners.items[i].description+`</div>
                  </div>
                </div>
              }

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
