<div id="whitepaper" data-order="3" class="whitepaper__start"></div>
<section class="whitepaper white-block">
  <div class="whitepaper__content"
       data-animate="true"
       data-animate-transform="true">
    <div class="container">
      <div class="row middle-md">
        <div class="col-md-3 col-xs-offset-1 col-xs-6 desktop-only">
          <img src="/images/whitepaper.jpg"
               srcset="/images/whitepaper@2x.jpg 2x"
               alt=""
               class="rentberry-website">
        </div>
        <div class="col-md-6 col-xs-10 col-xs-offset-1">
          <h2 class="section-header">@whitepaper.title</h2>
          <p class="whitepaper__content-description">@whitepaper.description</p>
          <div class="row">

            <div class="col-md-12 col-xs-12">
              <div class="download-whitepaper">
                <a target="_blank" href="/downloads/Rentberry_Whitepaper_V1_@lang.pdf" download>
                  <span>Download Whitepaper</span>
                </a>
              </div>
            </div>

            <!--<div class="col-md-4 col-xs-6">-->
              <!--<div class="download-whitepaper">-->
                <!--<a target="_blank" href="https://www.dropbox.com/s/x5ncportrjpbwar/Rentberry%20Whitepaper.pdf?dl=0">-->
                  <!--<span>English</span>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-4 col-xs-6">-->
              <!--<div class="download-whitepaper">-->
                <!--<a target="_blank" href="#" class="no-link">-->
                  <!--<span>中文</span>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-4 col-xs-6">-->
              <!--<div class="download-whitepaper">-->
                <!--<a target="_blank" href="#" class="no-link">-->
                  <!--<span>日本語</span>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-4 col-xs-6">-->
              <!--<div class="download-whitepaper">-->
                <!--<a target="_blank" href="#" class="no-link">-->
                  <!--<span>한국어</span>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-4 col-xs-6">-->
              <!--<div class="download-whitepaper">-->
                <!--<a target="_blank" href="#" class="no-link">-->
                  <!--<span>Русский</span>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-4 col-xs-6">-->
              <!--<div class="download-whitepaper">-->
                <!--<a target="_blank" href="#" class="no-link">-->
                  <!--<span>Español</span>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
